<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="blogs/blog" method="post">
        <input type="text" name="blogTitle" id="" placeholder="enter the blog title">
        <input type="text" name="blogPostedBy" id="" placeholder="enter the user name">
        
        <input type="text" name="headerImg" id="" placeholder="enter the header img url">
        <input type="text" name="contentImg" id="" placeholder="enter the img content url">
        <input type="text" name="contentImg" id="" placeholder="enter the img content url">
        <textarea name="blog" id="" cols="30" rows="10" placeholder="type your blog"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>